<div ng-controller="PresetQuantitiesCtrl">
<div id="product-quantity" th:attr="organizationId=${organization.organizationId}" class="row-fluid">
  <div class="page-header">
    <h1>Product Quantity List <small>Edit items</small></h1>
  </div>
  <div class="row-fluid">
    <button class="btn btn-success" id = "add-presetqty" data-toggle="modal" data-title="Add new product" data-target="#add-qty-modal">
    <i class="icon-white icon-plus-sign"></i> Add new quantity</button>
    <br>
    <br>
  </div>
</div>
<div class="col-md-3">
  <div class="table-responsive">
    <table id="producttable" class="table table-bordred table-striped">
      <thead>
        <!-- <th><input type="checkbox" id="checkall" /></th>-->
        <th>Product Type</th>
        <th>Product Quantity</th>
       <!--  <th>Price</th> -->
      </thead>
      <tbody>
      <tr >
          <tr th:each="presetQuantity : ${presetQuantities}">
          <!--<td><input type="checkbox" class="checkthis" /></td>-->
          <td th:text="${presetQuantity.productType.name}">productType</td>
          <td th:text="${presetQuantity.quantity}">quantity</td>
          
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Edit">
              <button id="btn-qty-edit" class="open-edit-modal btn btn-primary btn-xs" th:attr="presetQuantityId=${presetQuantity.presetQuantityId},presetQuantityType=${presetQuantity.productType.name}"data-title="Edit"  data-toggle="modal" data-price="50" data-target="#edit-qty-modal" >
              <i class="icon-white icon-pencil"></i> Edit</button>
            </p>
          </td>
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete">
              <button id="btn-qty-delete" class="btn btn-danger btn-xs" th:attr="presetQuantityId=${presetQuantity.presetQuantityId}"data-title="Delete" data-toggle="modal" data-target="#delete-qty-modal" >
              <i class="icon-white icon-trash"></i> Delete</button>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="clearfix"></div>
    <ul class="pagination pull-left">
      <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
    </ul>
  </div>
</div>
<div class="modal fade" id="edit-qty-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
      <h4 class="modal-title custom_align" id="HeadingEdit"></h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal"> 
		  <div class="control-group">
		    <label class="control-label" id="update-quantity-input"></label>
			<div class="controls">
			  <input type="text" class="input-small" id="update-quantity-input" />
			</div>
		  </div>
	  </form>
    </div>
  </div>
  <div class="modal-footer ">
    <button type="button" id = "update-qty" class="btn btn-warning"><i class="icon-white icon-pencil"></i>  Update</button>
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
  </div>
</div>
<!-- /.modal-content --> 

<!-- /.modal-dialog --> 
<div class="modal fade" id="delete-qty-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="HeadingDelete">Delete this entry</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" id="delete-qty" ><i class="icon-white icon-ok"></i> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> No</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
<div class="modal fade" id="add-qty-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingAdd" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> </button>
      <h4 class="modal-title custom_align" id="HeadingEdit">Add New Quantity</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal"> 
		  <div class="control-group">
		    <label class="control-label" for="new-quantity-input">Quantity</label>
			<div class="controls">
			  <input type="text" class="input-large" id="new-quantity-input" placeholder="1" />
			</div>
		  </div>
		  <div class="control-group">
			<div class="controls">
			 <select id="new-presetqty-product-type-input">
				  <option>-Select-</option>
				  <option th:each="productType : ${productTypes}" th:value="'productTypes/' + ${productType.productTypeId}" th:text="${productType.name}">Product type</option>
				</select>
			</div>
		  </div>
	  </form>
    </div>
  </div>
  <div class="modal-footer ">
    <button type="button" class="btn btn-success" id="add-new-quantity" ><i class="icon-white icon-ok"></i> Add</button>
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button> 
  </div>
</div>

<div class="modal fade" id="quantity-add-failed-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAddFailed" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="HeadingAddFailed">Failed to add quantity</h4>
      </div>
      <div class="modal-body">
	    <b>Technical details:</b><br/>
        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>{{failure}}</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> OK</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

<div class="modal fade" id="quantity-add-success-modal" tabindex="-2" role="dialog" aria-labelledby="HeadingAddSuccess" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="HeadingAddSuccess">Quantity added</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-success"><span class="glyphicon glyphicon-success-sign"></span>Quantity <b>{{productQuantity}}</b> successfully added!</div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="icon-white icon-remove"></i> OK</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

</div>
<!-- /.modal-content --> 
<!-- /.modal-dialog -->