<div ng-controller="VoiceMessageCtrl">
	<div class="row-fluid">
		<div th: if="${message !=null}">
			<table class="table table-striped table-bordered table-condensed"
				id="usertable">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Response</th>
	
					</tr>
				</thead>
				<tbody>
					<tr class="list-messages" th:each="textMessage : ${message} ">
						<td th:text="${textMessage.messageId}">Id</td>
						<td th:text="${textMessage.user.name}">User name</td>
						<!-- 	<td th:text="${voiceMessage.voice.url}">Message Url</td> -->
						<td th:if="${textMessage.response == true}">
							Yes
						</td>
						<td th:if="${textMessage.response == false}">
							No
						</td>
	
					</tr>
				</tbody>
			</table>
		</div>
	
	
		<div th:if="${message == null}">
			<B>No New Message </B>
	
		</div>
	
	
	</div>
	
	
	<!-- /.modal-content -->
	<!-- /.modal-dialog -->
</div>