<div class="row-fluid">

	<div th :if="${message !=null}">
		<table class="table table-striped table-bordered table-condensed"
			id="usertable">
			<thead>
				<tr>
					<th>Time</th>
					<th>Member</th>
					<th>Message</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr class="list-users" th:each="textMessage : ${message} ">

					<td th:text="${textMessage.Time}">Message Id</td>
					<td th:text="${textMessage.user.name}">Name</td>
					<td th:text="${textMessage.textContent}">Text Content</td>
					<td th:text="${textMessage.comments}"></td>
					
				</tr>
			</tbody>
		</table>
	</div>

	<div th:if="${message == null}">
		<B>No New Message </B>

	</div>
</div>


<!-- /.modal-content -->
<!-- /.modal-dialog -->